nav {
    background-color: rgb(0, 153, 255);
    background-image: linear-gradient(#00b7ff, #0677f0);
}

nav a {
    color: white;
}

nav a:hover {
    color: white;
}

.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: white;
}

.signin-form-wrap {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.signin-form-wrap .form {
    width: 80%;
    /* border: 1px solid #aaa; */
    border-radius: 4px;
    background-color: #eee;
}

.signin-form-wrap .form .title {
    padding: 15px;
    /* background-color: #ff7800; */
    /* background-color: #f7f7f7; */
    /* border-top-left-radius: 2px; */
    /* border-top-right-radius: 2px; */
    /* color: white; */
    /* color: #777; */
    border-bottom: 1px solid #fff;
}

.signin-form-wrap .form .content {
    padding: 15px;
}

@media (min-width: 640px) {
    .signin-form-wrap .form {
        width: 320px;
    }
}

.page-title {
    text-align: center;
}

.application-form {
    padding: 25px;
}

@media(min-width: 768px) {
    .application-form {
        border: 1px solid #ccc;
        border-radius: 4px;
    }
}

.application-form .photo-container .student-photo {
    /* float: right; */
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    background-size: contain;
}

.photo-container .edit-image-button {
    margin: 5px;
    position: relative;
    overflow: hidden;
}

.student-photo .file-input {
    position: absolute;
    font-size: 100px;
    opacity: 0;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

.empty-space-row {
    height: 100px;
}

footer {
    min-height: 100px;
}

.fee-buttons>button {
    margin-bottom: 5px;
    font-size: 15px;
}

label {
    font-size: 1rem;
    color: #3380d2;
    margin-bottom: 3px;
}

.form-control {
    padding: 0.25rem;
}